@import "~bootstrap/scss/bootstrap";

@mixin title
{
    text-align: center;
    color: red;
}

body
{
    background-color: lightgray;

}
h1
{
    @include title;
}
.container
{
    margin-top: 3vw;
}
.button
{
    margin-top: 2vw;
}
.buttonHome
{
    padding:5vw;
}
p
{
    text-align: justify;
}