{% extends 'base.html.twig' %}


{% block body %}
    <h1>Articles</h1>

    <div class="container text-center">
        <ul>
            {% for article in articles %}
                <div>
                    <a href="{{ path('article_show',{'id': article.id}) }}"><h2>{{ article.title }}</h2></a>
                </div>
            {% endfor %}
        </ul>
        <div class="button text-center">
            <a class="btn btn-success" href="{{ path('blog_index') }}" role="button">Back to Blog</a>
            <a class="btn btn-success" href="{{ path('blog_category_index') }}" role="button">Back to Category</a>
        </div>
    </div>
{% endblock %}
