{% extends 'base.html.twig' %}

{% block title %} Les categories {% endblock %}

{% block body %}
    {% for category in categories %}
        <h1><a href="{{ path('blog_index', {'id': category.id }) }}">{{ category.name }}</a></h1>
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
            </li>
    {% endfor %}
{% endblock %}