{% extends 'base.html.twig' %}


{% block body %}
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
{% endblock %}
