{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}


{% block title %}Index{% endblock %}


{% block body %}
    <h1>Blog</h1>

    <div class="container text-center">
        {% for article in articles %}
            <div>
                <h2><a href="{{ path('article_show',{'id': article.id}) }}">{{ article.title }}</a>
                    : {{ article.category.name }}</h2>
                <p>{{ article.content }}</p>
            </div>
        {% endfor %}
        <a class="btn btn-success" href="#" role="button">Back</a>
    </div>
{% endblock %}
