{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ category.name }}</h1>

    <div class="container text-center">
        {% for article in category.articles %}
            <h2>{{ article.title }}</h2>
        {% endfor %}
        <div class="button text-center">
            <a class="btn btn-success" href="{{ path('blog_index') }}" role="button">Back to Blog</a>
            <a class="btn btn-success" href="{{ path('blog_category_index') }}" role="button">Back to Category</a>
        </div>
    </div>
{% endblock %}
