{% extends 'base.html.twig' %}

{% block title %}tag_show{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <div class="container text-center">
        <ul>
            <h2><strong>{{ tag.name }}</strong></h2>
            {% for article in tag.articles %}
                <a href="{{ path('article_show',{'id': article.id}) }}"><h4>{{ article.title }}</h4></a>
            {% endfor %}
        </ul>
        <a class="btn btn-success" href="{{ path('tag_index') }}" role="button">Back to Tag</a>
    </div>
{% endblock %}
